/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package tickcatcher.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import tickcatcher.models.EmaRequest
import tickcatcher.models.SmaRequest

import com.squareup.moshi.Json

import tickcatcher.infrastructure.ApiClient
import tickcatcher.infrastructure.ApiResponse
import tickcatcher.infrastructure.ClientException
import tickcatcher.infrastructure.ClientError
import tickcatcher.infrastructure.ServerException
import tickcatcher.infrastructure.ServerError
import tickcatcher.infrastructure.MultiValueMap
import tickcatcher.infrastructure.PartConfig
import tickcatcher.infrastructure.RequestConfig
import tickcatcher.infrastructure.RequestMethod
import tickcatcher.infrastructure.ResponseType
import tickcatcher.infrastructure.Success
import tickcatcher.infrastructure.toMultiValue

class BasicIndicatorsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://tickcatcher.p.rapidapi.com")
        }
    }

    /**
     * POST /api/indicators/ema
     * Calculate Exponential Moving Average (EMA)
     * Returns the EMA of the close prices.
     * @param emaRequest 
     * @return kotlin.collections.List<java.math.BigDecimal>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ema(emaRequest: EmaRequest) : kotlin.collections.List<java.math.BigDecimal> {
        val localVarResponse = emaWithHttpInfo(emaRequest = emaRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<java.math.BigDecimal>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/indicators/ema
     * Calculate Exponential Moving Average (EMA)
     * Returns the EMA of the close prices.
     * @param emaRequest 
     * @return ApiResponse<kotlin.collections.List<java.math.BigDecimal>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun emaWithHttpInfo(emaRequest: EmaRequest) : ApiResponse<kotlin.collections.List<java.math.BigDecimal>?> {
        val localVariableConfig = emaRequestConfig(emaRequest = emaRequest)

        return request<EmaRequest, kotlin.collections.List<java.math.BigDecimal>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ema
     *
     * @param emaRequest 
     * @return RequestConfig
     */
    fun emaRequestConfig(emaRequest: EmaRequest) : RequestConfig<EmaRequest> {
        val localVariableBody = emaRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/indicators/ema",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/indicators/rsi
     * Calculate Relative Strength Index (RSI)
     * Returns the RSI of the close prices.
     * @param emaRequest 
     * @return kotlin.collections.List<java.math.BigDecimal>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun rsi(emaRequest: EmaRequest) : kotlin.collections.List<java.math.BigDecimal> {
        val localVarResponse = rsiWithHttpInfo(emaRequest = emaRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<java.math.BigDecimal>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/indicators/rsi
     * Calculate Relative Strength Index (RSI)
     * Returns the RSI of the close prices.
     * @param emaRequest 
     * @return ApiResponse<kotlin.collections.List<java.math.BigDecimal>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun rsiWithHttpInfo(emaRequest: EmaRequest) : ApiResponse<kotlin.collections.List<java.math.BigDecimal>?> {
        val localVariableConfig = rsiRequestConfig(emaRequest = emaRequest)

        return request<EmaRequest, kotlin.collections.List<java.math.BigDecimal>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation rsi
     *
     * @param emaRequest 
     * @return RequestConfig
     */
    fun rsiRequestConfig(emaRequest: EmaRequest) : RequestConfig<EmaRequest> {
        val localVariableBody = emaRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/indicators/rsi",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/indicators/sma
     * Calculate Simple Moving Average (SMA)
     * Returns the SMA of the close prices.
     * @param smaRequest 
     * @return kotlin.collections.List<java.math.BigDecimal>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun sma(smaRequest: SmaRequest) : kotlin.collections.List<java.math.BigDecimal> {
        val localVarResponse = smaWithHttpInfo(smaRequest = smaRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<java.math.BigDecimal>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/indicators/sma
     * Calculate Simple Moving Average (SMA)
     * Returns the SMA of the close prices.
     * @param smaRequest 
     * @return ApiResponse<kotlin.collections.List<java.math.BigDecimal>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun smaWithHttpInfo(smaRequest: SmaRequest) : ApiResponse<kotlin.collections.List<java.math.BigDecimal>?> {
        val localVariableConfig = smaRequestConfig(smaRequest = smaRequest)

        return request<SmaRequest, kotlin.collections.List<java.math.BigDecimal>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation sma
     *
     * @param smaRequest 
     * @return RequestConfig
     */
    fun smaRequestConfig(smaRequest: SmaRequest) : RequestConfig<SmaRequest> {
        val localVariableBody = smaRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/indicators/sma",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
