/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package tickcatcher.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import tickcatcher.models.Candle

import com.squareup.moshi.Json

import tickcatcher.infrastructure.ApiClient
import tickcatcher.infrastructure.ApiResponse
import tickcatcher.infrastructure.ClientException
import tickcatcher.infrastructure.ClientError
import tickcatcher.infrastructure.ServerException
import tickcatcher.infrastructure.ServerError
import tickcatcher.infrastructure.MultiValueMap
import tickcatcher.infrastructure.PartConfig
import tickcatcher.infrastructure.RequestConfig
import tickcatcher.infrastructure.RequestMethod
import tickcatcher.infrastructure.ResponseType
import tickcatcher.infrastructure.Success
import tickcatcher.infrastructure.toMultiValue

class CandlesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.tickcatcher.com")
        }
    }

    /**
     * enum for parameter timeframe
     */
     enum class TimeframeBasicCandles(val value: kotlin.String) {
         @Json(name = "5m") _5m("5m"),
         @Json(name = "15m") _15m("15m"),
         @Json(name = "1h") _1h("1h"),
         @Json(name = "4h") _4h("4h");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /api/bcandles
     * Get candlestick data
     * Retrieve OHLCV data for a specific symbol and timeframe for Basic package.
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 200)
     * @return kotlin.collections.List<Candle>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun basicCandles(symbol: kotlin.String, timeframe: TimeframeBasicCandles, limit: kotlin.Int? = 200) : kotlin.collections.List<Candle> {
        val localVarResponse = basicCandlesWithHttpInfo(symbol = symbol, timeframe = timeframe, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Candle>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/bcandles
     * Get candlestick data
     * Retrieve OHLCV data for a specific symbol and timeframe for Basic package.
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 200)
     * @return ApiResponse<kotlin.collections.List<Candle>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun basicCandlesWithHttpInfo(symbol: kotlin.String, timeframe: TimeframeBasicCandles, limit: kotlin.Int?) : ApiResponse<kotlin.collections.List<Candle>?> {
        val localVariableConfig = basicCandlesRequestConfig(symbol = symbol, timeframe = timeframe, limit = limit)

        return request<Unit, kotlin.collections.List<Candle>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation basicCandles
     *
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 200)
     * @return RequestConfig
     */
    fun basicCandlesRequestConfig(symbol: kotlin.String, timeframe: TimeframeBasicCandles, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("symbol", listOf(symbol.toString()))
                put("timeframe", listOf(timeframe.value))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/bcandles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter timeframe
     */
     enum class TimeframeEnterpriseCandles(val value: kotlin.String) {
         @Json(name = "1m") _1m("1m"),
         @Json(name = "2m") _2m("2m"),
         @Json(name = "3m") _3m("3m"),
         @Json(name = "5m") _5m("5m"),
         @Json(name = "10m") _10m("10m"),
         @Json(name = "15m") _15m("15m"),
         @Json(name = "30m") _30m("30m"),
         @Json(name = "1h") _1h("1h"),
         @Json(name = "2h") _2h("2h"),
         @Json(name = "3h") _3h("3h"),
         @Json(name = "4h") _4h("4h"),
         @Json(name = "6h") _6h("6h"),
         @Json(name = "8h") _8h("8h"),
         @Json(name = "12h") _12h("12h"),
         @Json(name = "1d") _1d("1d");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /api/ecandles
     * Get candlestick data
     * Retrieve OHLCV data for a specific symbol and timeframe for Enterprise package.
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @param startTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @param endTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @return kotlin.collections.List<Candle>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun enterpriseCandles(symbol: kotlin.String, timeframe: TimeframeEnterpriseCandles, limit: kotlin.Int? = 1000, startTime: kotlin.Int? = null, endTime: kotlin.Int? = null) : kotlin.collections.List<Candle> {
        val localVarResponse = enterpriseCandlesWithHttpInfo(symbol = symbol, timeframe = timeframe, limit = limit, startTime = startTime, endTime = endTime)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Candle>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/ecandles
     * Get candlestick data
     * Retrieve OHLCV data for a specific symbol and timeframe for Enterprise package.
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @param startTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @param endTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @return ApiResponse<kotlin.collections.List<Candle>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun enterpriseCandlesWithHttpInfo(symbol: kotlin.String, timeframe: TimeframeEnterpriseCandles, limit: kotlin.Int?, startTime: kotlin.Int?, endTime: kotlin.Int?) : ApiResponse<kotlin.collections.List<Candle>?> {
        val localVariableConfig = enterpriseCandlesRequestConfig(symbol = symbol, timeframe = timeframe, limit = limit, startTime = startTime, endTime = endTime)

        return request<Unit, kotlin.collections.List<Candle>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation enterpriseCandles
     *
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @param startTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @param endTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @return RequestConfig
     */
    fun enterpriseCandlesRequestConfig(symbol: kotlin.String, timeframe: TimeframeEnterpriseCandles, limit: kotlin.Int?, startTime: kotlin.Int?, endTime: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("symbol", listOf(symbol.toString()))
                put("timeframe", listOf(timeframe.value))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (startTime != null) {
                    put("startTime", listOf(startTime.toString()))
                }
                if (endTime != null) {
                    put("endTime", listOf(endTime.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/ecandles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter timeframe
     */
     enum class TimeframeMegaCandles(val value: kotlin.String) {
         @Json(name = "1m") _1m("1m"),
         @Json(name = "2m") _2m("2m"),
         @Json(name = "3m") _3m("3m"),
         @Json(name = "5m") _5m("5m"),
         @Json(name = "10m") _10m("10m"),
         @Json(name = "15m") _15m("15m"),
         @Json(name = "30m") _30m("30m"),
         @Json(name = "1h") _1h("1h"),
         @Json(name = "2h") _2h("2h"),
         @Json(name = "3h") _3h("3h"),
         @Json(name = "4h") _4h("4h"),
         @Json(name = "6h") _6h("6h"),
         @Json(name = "8h") _8h("8h"),
         @Json(name = "12h") _12h("12h"),
         @Json(name = "1d") _1d("1d");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /api/mcandles
     * Get candlestick data
     * Retrieve OHLCV data for a specific symbol and timeframe for Mega package.
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @param startTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @param endTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @return kotlin.collections.List<Candle>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun megaCandles(symbol: kotlin.String, timeframe: TimeframeMegaCandles, limit: kotlin.Int? = 1000, startTime: kotlin.Int? = null, endTime: kotlin.Int? = null) : kotlin.collections.List<Candle> {
        val localVarResponse = megaCandlesWithHttpInfo(symbol = symbol, timeframe = timeframe, limit = limit, startTime = startTime, endTime = endTime)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Candle>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/mcandles
     * Get candlestick data
     * Retrieve OHLCV data for a specific symbol and timeframe for Mega package.
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @param startTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @param endTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @return ApiResponse<kotlin.collections.List<Candle>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun megaCandlesWithHttpInfo(symbol: kotlin.String, timeframe: TimeframeMegaCandles, limit: kotlin.Int?, startTime: kotlin.Int?, endTime: kotlin.Int?) : ApiResponse<kotlin.collections.List<Candle>?> {
        val localVariableConfig = megaCandlesRequestConfig(symbol = symbol, timeframe = timeframe, limit = limit, startTime = startTime, endTime = endTime)

        return request<Unit, kotlin.collections.List<Candle>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation megaCandles
     *
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @param startTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @param endTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @return RequestConfig
     */
    fun megaCandlesRequestConfig(symbol: kotlin.String, timeframe: TimeframeMegaCandles, limit: kotlin.Int?, startTime: kotlin.Int?, endTime: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("symbol", listOf(symbol.toString()))
                put("timeframe", listOf(timeframe.value))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (startTime != null) {
                    put("startTime", listOf(startTime.toString()))
                }
                if (endTime != null) {
                    put("endTime", listOf(endTime.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/mcandles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter timeframe
     */
     enum class TimeframeProCandles(val value: kotlin.String) {
         @Json(name = "1m") _1m("1m"),
         @Json(name = "5m") _5m("5m"),
         @Json(name = "15m") _15m("15m"),
         @Json(name = "1h") _1h("1h"),
         @Json(name = "4h") _4h("4h");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /api/pcandles
     * Get candlestick data
     * Retrieve OHLCV data for a specific symbol and timeframe for Pro package.
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @return kotlin.collections.List<Candle>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun proCandles(symbol: kotlin.String, timeframe: TimeframeProCandles, limit: kotlin.Int? = 1000) : kotlin.collections.List<Candle> {
        val localVarResponse = proCandlesWithHttpInfo(symbol = symbol, timeframe = timeframe, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Candle>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/pcandles
     * Get candlestick data
     * Retrieve OHLCV data for a specific symbol and timeframe for Pro package.
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @return ApiResponse<kotlin.collections.List<Candle>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun proCandlesWithHttpInfo(symbol: kotlin.String, timeframe: TimeframeProCandles, limit: kotlin.Int?) : ApiResponse<kotlin.collections.List<Candle>?> {
        val localVariableConfig = proCandlesRequestConfig(symbol = symbol, timeframe = timeframe, limit = limit)

        return request<Unit, kotlin.collections.List<Candle>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation proCandles
     *
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @return RequestConfig
     */
    fun proCandlesRequestConfig(symbol: kotlin.String, timeframe: TimeframeProCandles, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("symbol", listOf(symbol.toString()))
                put("timeframe", listOf(timeframe.value))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/pcandles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter timeframe
     */
     enum class TimeframeUltraCandles(val value: kotlin.String) {
         @Json(name = "1m") _1m("1m"),
         @Json(name = "5m") _5m("5m"),
         @Json(name = "15m") _15m("15m"),
         @Json(name = "1h") _1h("1h"),
         @Json(name = "4h") _4h("4h");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /api/ucandles
     * Get candlestick data
     * Retrieve OHLCV data for a specific symbol and timeframe for Ultra package.
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @param startTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @param endTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @return kotlin.collections.List<Candle>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ultraCandles(symbol: kotlin.String, timeframe: TimeframeUltraCandles, limit: kotlin.Int? = 1000, startTime: kotlin.Int? = null, endTime: kotlin.Int? = null) : kotlin.collections.List<Candle> {
        val localVarResponse = ultraCandlesWithHttpInfo(symbol = symbol, timeframe = timeframe, limit = limit, startTime = startTime, endTime = endTime)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Candle>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/ucandles
     * Get candlestick data
     * Retrieve OHLCV data for a specific symbol and timeframe for Ultra package.
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @param startTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @param endTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @return ApiResponse<kotlin.collections.List<Candle>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ultraCandlesWithHttpInfo(symbol: kotlin.String, timeframe: TimeframeUltraCandles, limit: kotlin.Int?, startTime: kotlin.Int?, endTime: kotlin.Int?) : ApiResponse<kotlin.collections.List<Candle>?> {
        val localVariableConfig = ultraCandlesRequestConfig(symbol = symbol, timeframe = timeframe, limit = limit, startTime = startTime, endTime = endTime)

        return request<Unit, kotlin.collections.List<Candle>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ultraCandles
     *
     * @param symbol 
     * @param timeframe 
     * @param limit  (optional, default to 1000)
     * @param startTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @param endTime Javascript style epoch time with milliseconds (i.e. 1762194992000). (optional)
     * @return RequestConfig
     */
    fun ultraCandlesRequestConfig(symbol: kotlin.String, timeframe: TimeframeUltraCandles, limit: kotlin.Int?, startTime: kotlin.Int?, endTime: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("symbol", listOf(symbol.toString()))
                put("timeframe", listOf(timeframe.value))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (startTime != null) {
                    put("startTime", listOf(startTime.toString()))
                }
                if (endTime != null) {
                    put("endTime", listOf(endTime.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/ucandles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
