name: OpenAPI Lint

on:
  pull_request:
    branches:
      - main

jobs:
  lint-openapi:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Redocly CLI
        run: npm install @redocly/cli@2 -g

      - name: Lint OpenAPI YAML
        run: npx @redocly/cli lint openapi/tickcatcher.yaml
